.searchinput{
    position: relative;
    margin: 2em;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}
.login{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.login input{
    text-align: center;
    margin-top: 50px;
}
.login button{
    margin-top: 50px;
}
.homegrid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly
}
.homegrid img{
    width: 150px;
    height: auto;
}

.container {
    display: grid;
    grid-template-rows: 1.2fr 1.2fr 1.2fr;
    grid-template-areas: "subcontainer subcontainer subcontainer";
    grid-gap: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
    justify-content: space-around;
  }
  
  .subcontainer {
    border-radius: 10px;
    background: #6fffd2;
    height: 300px;
    width: 25vw;
    max-width: 300px;
  }
  @media only screen and (max-width: 800px) {
    .container {
      text-align: center;
      grid-template-areas: "subcontainer subcontainer";
      justify-content: space-around;
    }
    .subcontainer {
      width: 60vw;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .container {
      text-align: center;
      grid-template-columns: 1fr;
      grid-template-rows: 1.2fr;
      grid-template-areas: "subcontainer";
      align-items: center;
      justify-items: center;
     
    }
    .subcontainer {
      width: 60vw;
      max-width: 300px;
      min-width: 250px;
    }
  }
  