{% extends "layout.html" %} {% block title %} Home {% endblock %} {% block nav
%}
<form action="/logout">
  <button type="submit" class="btn btn-danger">Logout</button>
</form>

{% endblock %} {% block main %}
<h2 style="color: red">{{error}}</h2>
<form class="searchinput" method="get">
  <div class="mb-3">
    <input
      class="form-control"
      placeholder="Search"
      style="text-align: center"
    />
  </div>
</form>
<div class="container"></div>
<form action="/add">
  <button class="add" type="submit">
    <img src="https://img.icons8.com/fluency/80/000000/plus-2-math.png" />
  </button>
</form>

<script>
  window.onload = async function () {
    let response = await fetch("/search?q=" + input.value);
    let items = await response.json();
    let html = "";
    items;
    for (let i in items) {
      let image = items[i].image.replace("<", "&lt;").replace("&", "&amp;");
      let unit = items[i].units.replace("<", "&lt;").replace("&", "&amp;");
      html +=
        "<div class='subcontainer'><h4>" +
        i +
        "</h4><img src = 'static/userdata/" +
        image +
        "' style='height: 100%; width: 100%; object-fit: cover;;border-radius:10px;max-height:150px'>" +
        "<div class = 'unit'> number of units: " +
        unit +
        "</div>" +
        "<form action='/delete' method='GET'><button type='submit' name='delete' value='" +
        i +
        "' class='btn btn-danger'>Delete</button></form>" +
        "</div>";
    }
    document.querySelector(".container").innerHTML = html;
  };
  let input = document.querySelector("input");
  input.addEventListener("input", async function () {
    let response = await fetch("/search?q=" + input.value);
    let items = await response.json();
    let html = "";
    items;
    for (let i in items) {
      let image = items[i].image.replace("<", "&lt;").replace("&", "&amp;");
      let unit = items[i].units.replace("<", "&lt;").replace("&", "&amp;");
      html +=
        "<div class='subcontainer'><h4>" +
        i +
        "</h4><img src = 'static/userdata/" +
        image +
        "'  style='height: 100%; width: 100%; object-fit: contain;border-radius:10px;max-height:150px'>" +
        "<div class = 'unit'> number of units: " +
        unit +
        "</div>" +
        "<form action='/delete' method='GET'><button type='submit' name='delete' value='" +
        i +
        "' class='btn btn-danger'>Delete</button></form>" +
        "</div>";
    }
    document.querySelector(".container").innerHTML = html;
  });
</script>
{% endblock %}
